<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel = "stylesheet" type = "text/css" href = "../assets/home_view.css"> 

    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-1">
            <a href="home_view.html"><img class="icon" src="../img/highway.png"></a>
            <h3>ENCHANCHED TOLL SYSTEM</h3>
        </div>
        <div class="nav-2">
            <a href="index.html"><h3>LOGIN</h3></a>
            <a href="register.html"><h3>SIGN UP</h3></a>
        </div>
    </nav>
    <div class="home-view">
        <h1 class="home-view-1">CONNECTING YOU</h1>
        <h3 class="home-view-2">ENCHANCHED TOLL SYSTEM has over 30 years of experience in the toll sector and has delivered more than 40 projects on time and budget utiizing different technologies (manual, automatic, ETC, free-flow and shadow tolls).<br/><br/>

            ENCHANCHED TOLL SYSTEM offers the following services and solutions that are frequently required in this area:<br/><br/>
            
            <br/><br/>A secure toll collection control solution that supports all operational models and technologies to be integrated.<br/>
            Open, modular and flexible technical architecture that meets the concessionaire's initial requirements and facilitates scalability and growth with minimal investment.<br/>
            A tried and tested, robust and operational technological solution; the system core can be adapted to local features with minimum changes, allowing for reduced risks and lead times.<br/>
            Human resources with extensive knowledge of the toll business, technology and project management, from which customer teams will benefit when defining their business processes and strategies, etc.<br/></h3>
    </div>
</body>
</html>