<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../assets/home_view.css">

    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-1">
            <a href="home_view.html"><img class="icon" src="../img/highway.png"></a>
            <h3>ENCHANCHED TOLL SYSTEM</h3>
        </div>
        <div class="nav-2">
            <a href="index.html">
                <h3>LOGIN</h3>
            </a>
            <a href="register.html">
                <h3>SIGN UP</h3>
            </a>
        </div>
    </nav>
    <div class="home-view">
        <h1 class="home-view-1">YOUR BALANCE HAS BEEN UPDATED<br/><a href="menu.html">CLICK HERE</a> TO GO BACK TO MENU</h1>
    </div>
</body>

</html>